* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

h1,
p {
    background-color: #dde0e3;
    /* Light Gray */
}

em,
strong {
    background-color: #b2d6ff;
    /* Light Blue */
    /* display: block; Never do this  */
    display: inline;
    /* This is the default for em and strong */

}

/* strong {
    margin: 50px; /* Completely ignores the top and bottom margins of the element.
} */

/* strong {
    padding: 50px; Displays blue background. It won't affect the vertical layouts of the surrounding boxes.
} */


h1 {
    padding: 50px;
    /* border: 1px solid #5d6063; */
    border-bottom: 1px solid #5d6063;
}

/* p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
} */

/* p {
    padding: 20px 10px;  Vertical Horizontal 
} */

p {
    padding: 20px 0 20px 10px;
    /* Top Right Bottom Left */
    margin-top: 25px;
    margin-bottom: 50px;
}

div {
    color: #fff;
    background-color: #5995da;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5d6063;
    border-radius: 5px;
    width: 200px;
    box-sizing: border-box;
    margin: 20px auto;
    /* Vertical Horizontal */
}