* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    overflow: hidden;
    background-color: #eaedf0;
}

.page {
    width: 900px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.menu {
    height: 100px;
    background-color: #b2d6ff;
}

.sidebar {
    width: 200px;
    height: 300px;
    background-color: #f09a9d;
    float: left;
}

.content {
    width: 650px;
    height: 500px;
    background-color: #f5cf8e;
    float: left;
    padding: 20px;
}

.article-image {
    float: left;
    width: 300px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.footer {
    /* clear: both;
    height: 200px; */
    background-color: #d6e9fe;
    overflow: hidden;
}

.footer-item {
    float: left;
    margin: 20px 1.15%;
    width: 31%;
    height: 160px;
    background-color: #b2d6ff;
}

.avatar {
    float: left;
    width: 60px;
    height: 60px;
    margin: 25px;
    border-radius: 40px;
    background-color: #D6E9FE;
}

.username {
    margin-top: 30px;
}

.comment {
    margin: 10px;
    overflow: hidden;
    /* This is important */
}